# Conditional

In [1]:
x = 2
y = 3

if x<y:
    print('ya benar')
if x>y:
    print('ya benar')
if x==y:
    print('ya benar')
if x<=y:
    print('ya benar')
if 'we' in ['we','wa','wo']:
    print('ya benar')

ya benar
ya benar
ya benar

In [2]:
print('we' in ['we','wa','wo'])

True

In [3]:
#Python perlu yang namanya indentasi
x = 2
y = 3

if x<y:
    if y<x:
        pass
    print('ya benar')

ya benar

# If elif dan else

In [4]:
harga_jeruk = 50000
standar_harga = 30000
# apabila jeruk lebih dari standar harga maka jeruk itu mahal dan apabila kurang dari standar harga maka jeruk itu murah, dan apabila hrg jeruk sama dengan standar maka biasa saja
if harga_jeruk>standar_harga:
    print('Mahal')
elif harga_jeruk<standar_harga:
    print('Murah')
elif harga_jeruk==standar_harga:
    print('Biasa')

Mahal

In [8]:
harga_jeruk = 15000
standar_harga = 30000
# apabila jeruk lebih dari standar harga maka jeruk itu mahal dan apabila kurang dari standar harga maka jeruk itu murah, dan apabila hrg jeruk sama dengan standar maka biasa saja
if harga_jeruk>standar_harga:
    print('Mahal')
elif harga_jeruk<standar_harga:
    print('Murah')
elif harga_jeruk==standar_harga:
    print('Biasa')

Murah

In [5]:
harga_jeruk = 30000
standar_harga = 30000
# apabila jeruk lebih dari standar harga maka jeruk itu mahal dan apabila kurang dari standar harga maka jeruk itu murah, dan apabila hrg jeruk sama dengan standar maka biasa saja
if harga_jeruk>standar_harga:
    print('Mahal')
elif harga_jeruk<standar_harga:
    print('Murah')
else:
    print('Biasa')

Biasa

In [6]:
# apabila jeruk lebih dari standar harga maka jeruk itu mahal dan apabila kurang dari sama dengan standar harga maka jeruk itu murah
harga_jeruk = 70000
standar_harga = 50000
if harga_jeruk>standar_harga:
    print('Mahal')
else:
    print('Murah')

Mahal

In [7]:
# apabila jeruk lebih dari standar harga maka jeruk itu mahal dan apabila kurang dari sama dengan standar harga maka jeruk itu murah
harga_jeruk = int(input('Input Harga Jeruk='))
standar_harga = 30000
if harga_jeruk>standar_harga:
    print('Mahal')
else:
    print('Murah')

Input Harga Jeruk=15000
Murah

# Quiz 1

Anda adalah penjual pisang. Yang mana pisang anda berharga 3000.
Buatlah sebuah program if-else yg memiliki kondisi, jika seseorang berbelanja di Anda lebih dari 100,000 maka akan diberikan diskon 10%. Kalau lebih dari 50,000 namun kurang dari 100,000 maka akan diberi diskon 5%. Kalau kurang dari 50,000 maka tidak diberi diskon sama sekali.

contoh:

in: berapa pisang yg ingin anda beli? 30
out: total belanja Anda adalah IDR 85,500 (90,000 di diskon 5%)

In [9]:

harga = 85500
harga_awal = 90000
diskon = 0.05
print('total belanja anda adalah IDR {} ({} di diskon {} %) '.format(harga,harga_awal,diskon*100))

total belanja anda adalah IDR 85500 (90000 di diskon 5.0 %)

In [11]:
harga_jeruk = 30000
standar_harga = 30000
# apabila jeruk lebih dari standar harga maka jeruk itu mahal dan apabila kurang dari standar harga maka jeruk itu murah, dan apabila hrg jeruk sama dengan standar maka biasa saja
if harga_jeruk>standar_harga:
    print('Mahal')
    print('Banget')
    print(1+1)
elif harga_jeruk<standar_harga:
    print('Murah')
elif harga_jeruk==standar_harga:
    print('Biasa')

Biasa

# One-line if-statements

In [12]:
harga_jeruk = 20000
standar_harga = 30000
if harga_jeruk>standar_harga: print('Mahal');print('Banget');print(1+1)
elif harga_jeruk<standar_harga: print('Murah')
else: print('Biasa')

Murah

# Conditional Expressions

<expr1> if <conditional_expr> else <expr2>

In [14]:
umur = 37
s = 'Tua' if umur >= 35 else 'Muda'
print(s)

Tua

In [15]:
nama = 'Fachri'
n = 'In Class' if nama in ['Rahmat','Nunu'] else 'Out of Class'
print(n)

Out of Class

In [17]:
harga_jeruk = 20000
standar_harga = 30000
tanggal_lahir = 1997
# apabila jeruk lebih dari standar harga maka jeruk itu mahal dan apabila kurang dari standar harga maka jeruk itu murah, dan apabila hrg jeruk sama dengan standar maka biasa saja
if harga_jeruk>standar_harga:
    print('Mahal')
    print('Banget')
    print(1+1)
else:
    pass

# Quiz 2

Anda adalah seorang pemilik perusahaan dan Anda berniat untuk memberi bonus kepada pegawai Anda.
Buatlah program if-else yg memiliki kondisi, jika Year of Service seorang pegawai lebih dari 10 tahun, maka gajinya akan diberi bonus sebesar 10%.

contoh:

in: berapa gaji anda? 10000000

in: year of service? 15

out: Selamat Anda mendapat bonus! Total gaji anda IDR
11000000

# Loop

In [18]:
for i in ['foo','bar','baz','qux','quux','corge']:
    print(i+'ayam')

fooayam
barayam
bazayam
quxayam
quuxayam
corgeayam

In [21]:
for i in ['foo','bar','baz','qux','quux','corge']:
    print(i+'kucing')

fookucing
barkucing
bazkucing
quxkucing
quuxkucing
corgekucing

In [19]:
for i in [1,2,3,4]:
    print(i+1)

2
3
4
5

In [20]:
for i in [2,3,4,5,6,7,8,9]:
    print(i+1)

3
4
5
6
7
8
9
10

objek yang bisa dilakukan looping adalah iterable (string, list, tuple, dictionary, dsb)

In [22]:
for i in 'string':
    print(i)

s
t
r
i
n
g

In [23]:
for i in 'Integer':
    print(i)

I
n
t
e
g
e
r

# While Loop

In [1]:
apel = 5
while apel>0:
    apel-=1
    print(apel)

4
3
2
1
0

In [2]:
apel = 6
while apel>0:
    apel-=1
    print(apel)

5
4
3
2
1
0

In [3]:
apel = 5
apel -=1
print(apel)

4

In [4]:
telur = 5
telur +=1
print(telur)

6

In [5]:
apel = 5
while apel>0:
    apel-=1
    if apel ==1:
        print('woy tinggal 1 nih ati2 ya')
    else:
        print(apel)

4
3
2
woy tinggal 1 nih ati2 ya
0

In [6]:
# break digunakan untuk memberhentikan loop
apel = 5
while apel>0:
    apel-=1
    if apel ==2:
        break
    print(apel)
print('Loop Ended')

4
3
Loop Ended

In [7]:
apel

2

In [8]:
telur

6

In [9]:
# continue digunakan untuk melanjukan loop berdasarkan kondisi
apel = 5
while apel>0:
    apel-=1
    if apel ==2:
        continue
    print(apel)
print('Loop Ended')

4
3
1
0
Loop Ended

In [10]:
# else
apel = 10
while apel>0:
    apel-=2
    print(apel)
else:
    print('loop ended')

8
6
4
2
0
loop ended

In [11]:
# pass digunakan untuk melanjutkan mengeksekusi program di bawahnya.
apel = 5
while apel>0:
    apel-=1
    if apel ==2:
        pass
    print(apel)
print('Loop Ended')

4
3
2
1
0
Loop Ended

# Nested If - Else & Loops

In [12]:
#Nested IF
umur = 42
gender = 'M'
if umur <18:
    if gender == 'M':
        print('Son')
    else:
        print('Daughter')
if umur >=18 and umur <65:
    if gender == 'M':
        print('Dad')
    else:
        print('Mom')

Dad

# One line While Loops

In [14]:
jambu = 5
while jambu>0:jambu-=1;print(jambu)

4
3
2
1
0

# For Loop

In [15]:
a = [1,2,3,4,5,6]
for i in a:
    print(i)

1
2
3
4
5
6

In [16]:
# For Loop
b = ['Budi','Joko','Anwar']
for i in b:
    print(i)

Budi
Joko
Anwar

In [17]:
# Nested For Loop
b = ['Budi','Joko','Anwar']
for i in b:
    for j in i :
        print(j)

B
u
d
i
J
o
k
o
A
n
w
a
r

In [18]:
# Nested For Loop
b = ['Budi','Joko','Anwar']
for i in b:
    if i == 'Joko':
        break
    for j in i :
        print(j)

B
u
d
i

In [19]:
dictionary_a = {'A':'Bekasi','B':'Jakarta','C':'Medan'}
for i in dictionary_a:
    if dictionary_a[i] == 'Bekasi':
        print(dictionary_a[i])

Bekasi

In [20]:
dictionary_a.keys()

dict_keys(['A', 'B', 'C'])

In [21]:
dictionary_a.values()

dict_values(['Bekasi', 'Jakarta', 'Medan'])

In [22]:
dictionary_a.items()

dict_items([('A', 'Bekasi'), ('B', 'Jakarta'), ('C', 'Medan')])

In [23]:
dictionary_a = {'A':'Bekasi','B':'Jakarta','C':'Medan'}
for i in dictionary_a.values():
    print(i)

Bekasi
Jakarta
Medan

In [24]:
dictionary_a = {'A':'Bekasi','B':'Jakarta','C':'Medan'}
for i in dictionary_a.keys():
    print(i)

A
B
C

In [25]:
dictionary_a = {'A':'Bekasi','B':'Jakarta','C':'Medan'}
for i,j in dictionary_a.items():
    print(i,j)

A Bekasi
B Jakarta
C Medan

In [26]:
#Continue
for i in ['Aster','Jubah','Nambo','Hachi']:
    if 'b' in i:
        continue
    print(i)

Aster
Hachi

In [27]:
#Pass
for i in ['Aster','Jubah','Nambo','Hachi']:
    if 'b' in i:
        pass
    print(i)

Aster
Jubah
Nambo
Hachi

In [28]:
#Break
for i in ['Aster','Jubah','Nambo','Hachi']:
    if 'b' in i:
        break
    print(i)

Aster

In [29]:
for i in ['Aster','Jubah','Nambo','Hachi'] :
    print(i)
else:
    print('Loop Done')

Aster
Jubah
Nambo
Hachi
Loop Done

In [30]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]
for i,j,k in zip(a,b,c):
    print(i+j+k)

12
15
18

# Quiz 2

Menggunakan while loop buatlah program sederhana,
ketika bertemu dengan angka ganjil, maka print angkanya.
ketika bertemu dengan angka genap, maka print "GENAP"
batas angka 1-20

In [32]:
i = 1
while i <=20:
    if i % 2==1:
        print(i)
    else:
        print("GENAP")
    i+=1

1
GENAP
3
GENAP
5
GENAP
7
GENAP
9
GENAP
11
GENAP
13
GENAP
15
GENAP
17
GENAP
19
GENAP

# PR

In [34]:
tinggi_segitiga = int(input('Input tinggi segitiga: '))
print()
  
for i in range(1,tinggi_segitiga+1):
  for j in range(1,i+1):
    print(j,' ',end='',sep='')
  print()

Input tinggi segitiga: 10

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10